.DS_Store*
*babytalk-ja.html
job-db/src/META-INF/MANIFEST.MF
target/
ThreadProject/
*.zip
GTime/
springProjects/
departures/display.html
departures/display.js
job-db/.classpath
job-db/.project
job-db/.settings/org.eclipse.jdt.apt.core.prefs
job-db/.settings/org.eclipse.jdt.core.prefs
job-db/.settings/org.eclipse.m2e.core.prefs
TransitFetch/.classpath
TransitFetch/.project
TransitFetch/gtfs_2020-01-04.sql
TransitFetch/set_default_name_to_long_name_where_null_should_run_every_time_gtfs_query.sql
TransitFetch/.settings/org.eclipse.core.resources.prefs
TransitFetch/.settings/org.eclipse.jdt.apt.core.prefs
TransitFetch/.settings/org.eclipse.jdt.core.prefs
TransitFetch/.settings/org.eclipse.m2e.core.prefs
TransitFetch/out/artifacts/TransitFetch_jar/TransitFetch.jar
TransitFetch/src/java/com/schema/tables/Feed.java
TransitFetch/src/java/com/schema/tables/records/FeedRecord.java
TransitFetch/src/java/com/transitfetch/java/dbAccess/gtfsController/AppController.java
TransitFetch/src/java/com/transitfetch/resources/META-INF/MANIFEST.MF
TransitFetch/src/test/java/ReplaceTest.java
TransitFetch/src/java/com/schema/tables/Feed.java
TransitFetch/src/java/com/schema/tables/records/FeedRecord.java
TransitFetch/src/java/com/transitfetch/java/dbAccess/gtfsController/AppController.java
JLexicon/.classpath
JLexicon/.project
JLexicon/.settings/org.eclipse.jdt.apt.core.prefs
JLexicon/.settings/org.eclipse.jdt.core.prefs
JLexicon/.settings/org.eclipse.m2e.core.prefs
910 yesterday 1144tevere.pdf
